name: build-and-push-arm

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build images
        run: |
          IMAGE="vayry/rdpc-arm"
          SHA_TAG="${IMAGE}:${{ github.sha }}"
          LATEST_TAG="${IMAGE}:latest"

          docker build -t "$SHA_TAG" -t "$LATEST_TAG" .

      - name: Push images
        run: |
          IMAGE="vayry/rdpc-arm"
          docker push "${IMAGE}:${{ github.sha }}"
          docker push "${IMAGE}:latest"
